<!doctype html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{%static 'WebR209/mef.css'%}">
        <title>Projet Django</title>
    </head>
    <body>
        <header class="header1">
            <div>
                <h2 class=titleheader>Le Projet Django... La SNCF et ses principales filiales</h2>
            </div>
            <div class="header2">
                <a title="Aller vers 'Les locomotives'" href="#locomotives">Les locomotives</a>
                <a title="Aller vers 'Les types de train'" href="#typeoftrains">Les types de train</a>
                <a title="Aller vers 'Les autres filiales (BONUS)'" href="#autresfiliales">Les autres filiales (BONUS)</a>
            </div>
        </header>
    {% block content %}
    {% endblock %}
    </body>
</html>